@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

.background {
  min-height: 200%;
  width: 200%;
  height: auto;
  position: absolute;
  z-index: -1;
  opacity: 40%;
}

.br {
  border-radius: 20px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}
h1 .logo {
  height: 60px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #eeb332;
}
nav a {
  padding: 5px 15px;
}
nav :hover {
  cursor: pointer;
  background-color: #fae7bf;
}

.bio {
  padding: 10px;
}

.sidebar {
  padding: 10px;
  height: 95%;
}

.latest-blog {
  padding: 10px;
  cursor: pointer;
}

.latest-blog:hover {
  background-color: #eeb332;
}

.blog-list-item {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  margin: 25px;
}

.blog-list-item:hover {
  background-color: #eeb332;
}

.category {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  margin: 25px;
}

.category:hover {
  background-color: #eeb332;
}

.home {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
}
.home .info-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
}

.blogs {
  padding: 10px;
  margin: 50px;
}

.blog-show {
  padding: 10px;
  margin: 50px;
}
.blog-show p {
  margin: 20px 0;
}

.categories {
  margin: 50px;
}