@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 70%;
  margin: 5px auto;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

.br {
  border-radius: 20px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}
h1 .logo {
  width: 60px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #eeb332;
}
nav a {
  padding: 5px 15px;
}
nav :hover {
  cursor: pointer;
  background-color: #fae7bf;
}

.bio {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
  height: 95%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 5px 0;
  border: none;
  margin: 5px 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.button-add {
  background-color: rgba(0, 255, 0, 0.6);
}

.button-edit {
  background-color: rgba(255, 255, 0, 0.6);
}

.button-update {
  background-color: rgba(0, 255, 0, 0.6);
}

.button-delete {
  background-color: rgba(255, 0, 0, 0.6);
}

.secret-key-message {
  color: red;
}

.latest-blog {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
  background-color: rgba(238, 179, 50, 0.4);
  border: 1px solid black;
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
}
.latest-blog:hover {
  transform: translateY(-10px);
}

.latest-blog:hover {
  background-color: #fae7bf;
}

.blog-list-item {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(238, 179, 50, 0.4);
  box-shadow: 10px 5px 5px black;
  margin: 25px;
}
.blog-list-item:hover {
  transform: translateY(-10px);
}

.blog-list-item:hover {
  background-color: #fae7bf;
}

.category {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(238, 179, 50, 0.4);
  margin: 25px;
}
.category:hover {
  transform: translateY(-10px);
}

.category:hover {
  background-color: #fae7bf;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 480px) {
  .home {
    flex-direction: row;
    align-items: stretch;
  }
}
.home .info-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin-bottom: 25px;
}
@media (min-width: 480px) {
  .home .info-main {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .home .info-side {
    width: 70%;
  }
}

.blogs {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
  margin: 50px;
}
.blogs h2 {
  margin-left: 25px;
}

.blog-delete {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
}
.blog-delete h2 {
  margin-bottom: 10px;
}
.blog-delete label {
  font-weight: 500;
}
.blog-delete input {
  padding: 10px;
  margin-bottom: 10px;
}
.blog-delete textarea {
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  resize: vertical;
}
.blog-delete :focus {
  background-color: rgba(238, 179, 50, 0.4);
}

.blog-edit {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
}
.blog-edit h2 {
  margin-bottom: 10px;
}
.blog-edit label {
  font-weight: 500;
}
.blog-edit input {
  padding: 10px;
  margin-bottom: 10px;
}
.blog-edit textarea {
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  resize: vertical;
}
.blog-edit :focus {
  background-color: rgba(238, 179, 50, 0.4);
}

.blog-new {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
}
.blog-new h2 {
  margin-bottom: 10px;
}
.blog-new label {
  font-weight: 500;
}
.blog-new input {
  padding: 10px;
  margin-bottom: 10px;
}
.blog-new textarea {
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  resize: vertical;
}
.blog-new :focus {
  background-color: rgba(238, 179, 50, 0.4);
}

.blog-show {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 5px 5px black;
  padding: 10px;
  margin: 50px;
}
.blog-show h2 {
  margin-bottom: 5px;
}
.blog-show h3 {
  font-weight: 600;
}
.blog-show h4 {
  font-weight: 500;
  color: gray;
}
.blog-show p {
  margin: 20px 0;
  white-space: pre-wrap;
}

.categories {
  margin: 50px;
}
.categories h2 {
  margin-left: 25px;
}

body {
  background-image: url("/background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
}