nav {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: complement($primary);
    a {
        padding: 5px 15px;
    }
    :hover {
        background-color: light-comp($primary);
    }
}