.blog-list-item {
    @include section();
    cursor: pointer;
    background-color: rgba(238, 179, 50, 0.4);
    box-shadow: 10px 5px 5px black;
    margin: 25px;
}

.blog-list-item:hover {
    background-color: light-comp($primary);
}