.latest-blog {
    @include section();
    background-color: rgba(238,179,50, 0.4);
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
}

.latest-blog:hover {
    background-color: light-comp($primary);
}